## <summary>
##	Local WirePlumber domains and helper interfaces.
## </summary>

########################################
## <summary>
##	Role access for WirePlumber.
## </summary>
## <param name="role_prefix">
##	<summary>
##	The prefix of the user role, for example staff or user.
##	</summary>
## </param>
## <param name="user_domain">
##	<summary>
##	User domain for the role.
##	</summary>
## </param>
## <param name="user_exec_domain">
##	<summary>
##	User exec domain for execute and transition access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
template(`wireplumber_role',`
	gen_require(`
		role $4;
		attribute $3;
		type $1_pipewire_t;
		type wireplumber_exec_t, wireplumber_state_t;
		type alsa_var_lib_t;
		type tmpfs_t, xdm_tmpfs_t;
		type pipewire_runtime_t, user_runtime_t;
	')

	type $1_wireplumber_t;
	userdom_user_application_domain($1_wireplumber_t, wireplumber_exec_t)
	role $4 types $1_wireplumber_t;

	domtrans_pattern($3, wireplumber_exec_t, $1_wireplumber_t)

	allow $3 $1_wireplumber_t:process { ptrace signal_perms };
	allow $3 $1_wireplumber_t:fd use;
	ps_process_pattern($3, $1_wireplumber_t)

	allow $1_wireplumber_t $3:process sigchld;
	allow $1_wireplumber_t self:process { getsched setrlimit setsched };

	auth_use_nsswitch($1_wireplumber_t)
	alsa_read_config($1_wireplumber_t)
	miscfiles_read_localization($1_wireplumber_t)
	files_read_usr_files($1_wireplumber_t)
	files_map_usr_files($1_wireplumber_t)
	userdom_search_user_home_dirs($1_wireplumber_t)
	userdom_search_user_home_content($1_wireplumber_t)
	xdg_search_config_dirs($1_wireplumber_t)
	xdg_search_data_dirs($1_wireplumber_t)
	userdom_search_user_runtime($1_wireplumber_t)
	dbus_all_session_bus_client($1_wireplumber_t)
	dbus_write_session_runtime_socket($1_wireplumber_t)
	dbus_system_bus_client($1_wireplumber_t)
	devicekit_dbus_chat_power($1_wireplumber_t)
	udev_read_runtime_files($1_wireplumber_t)
	dev_read_sysfs($1_wireplumber_t)
	kernel_read_system_state($1_wireplumber_t)
	logging_send_syslog_msg($1_wireplumber_t)
	systemd_read_logind_runtime_files($1_wireplumber_t)
	systemd_read_logind_sessions_files($1_wireplumber_t)
	systemd_watch_logind_runtime_dirs($1_wireplumber_t)
	systemd_watch_logind_sessions_dirs($1_wireplumber_t)
	rtkit_scheduled($1_wireplumber_t)
	corecmd_search_bin($1_wireplumber_t)
	dev_read_sound($1_wireplumber_t)
	dev_write_sound($1_wireplumber_t)
	dev_read_video_dev($1_wireplumber_t)
	dev_write_video_dev($1_wireplumber_t)
	allow $1_wireplumber_t self:bluetooth_socket create_stream_socket_perms;
	bluetooth_use($1_wireplumber_t)
	allow $1_wireplumber_t self:netlink_kobject_uevent_socket create_socket_perms;
	bluetooth_dbus_chat($1_wireplumber_t)
	allow $1_wireplumber_t device_t:dir watch;
	allow $1_wireplumber_t tmpfs_t:dir search;
	allow $1_wireplumber_t alsa_var_lib_t:dir search;
	stream_connect_pattern($1_wireplumber_t, user_runtime_t, pipewire_runtime_t, $1_pipewire_t)
	pipewire_rw_tmpfs_files($1_wireplumber_t)
	pipewire_use_fds($1_wireplumber_t, $1_pipewire_t)
	allow $1_wireplumber_t session_dbusd_runtime_t:sock_file getattr;

	# LTTng UST wait files under /dev/shm are optional tracing artifacts.
	# WirePlumber probes them on this desktop stack, but they are not required
	# for normal media/session function.
	dontaudit $1_wireplumber_t xdm_tmpfs_t:file { getattr open read map };
	dontaudit $1_wireplumber_t tmpfs_t:dir { add_name write };
	dontaudit $1_wireplumber_t tmpfs_t:file { create getattr map open read write };

	manage_dirs_pattern($1_wireplumber_t, wireplumber_state_t, wireplumber_state_t)
	manage_files_pattern($1_wireplumber_t, wireplumber_state_t, wireplumber_state_t)

	optional_policy(`
		systemd_user_app_status($1, $1_wireplumber_t)
		allow $1_systemd_t $1_wireplumber_t:process2 nnp_transition;
	')
')
