## <summary>
##	Local GVFS domains and helper interfaces.
## </summary>

########################################
## <summary>
##	Role access for GVFS user daemons.
## </summary>
## <param name="role_prefix">
##	<summary>
##	The prefix of the user role, for example staff or user.
##	</summary>
## </param>
## <param name="user_domain">
##	<summary>
##	User domain for the role.
##	</summary>
## </param>
## <param name="user_exec_domain">
##	<summary>
##	User exec domain for execute and transition access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
template(`gvfs_role',`
	gen_require(`
		role $4;
		attribute $3;
		type gvfsd_exec_t, gvfsd_fuse_exec_t, gvfsd_runtime_t;
		type $1_systemd_t;
		type session_dbusd_runtime_t;
		type bin_t;
	')

	type $1_gvfsd_t;
	type $1_gvfsd_fuse_t;
	userdom_user_application_domain($1_gvfsd_t, gvfsd_exec_t)
	userdom_user_application_domain($1_gvfsd_fuse_t, gvfsd_fuse_exec_t)
	role $4 types { $1_gvfsd_t $1_gvfsd_fuse_t };

	domtrans_pattern($3, gvfsd_exec_t, $1_gvfsd_t)
	domtrans_pattern($3, gvfsd_fuse_exec_t, $1_gvfsd_fuse_t)
	domtrans_pattern($1_gvfsd_t, gvfsd_fuse_exec_t, $1_gvfsd_fuse_t)

	allow $3 { $1_gvfsd_t $1_gvfsd_fuse_t }:process { ptrace signal_perms };
	allow $3 { $1_gvfsd_t $1_gvfsd_fuse_t }:fd use;
	ps_process_pattern($3, $1_gvfsd_t)
	ps_process_pattern($3, $1_gvfsd_fuse_t)

	allow $1_gvfsd_t $3:process sigchld;
	allow $1_gvfsd_fuse_t { $3 $1_gvfsd_t }:process sigchld;

	auth_use_nsswitch($1_gvfsd_t)
	auth_use_nsswitch($1_gvfsd_fuse_t)
	dbus_all_session_bus_client($1_gvfsd_t)
	dbus_write_session_runtime_socket($1_gvfsd_t)
	dbus_all_session_bus_client($1_gvfsd_fuse_t)
	dbus_write_session_runtime_socket($1_gvfsd_fuse_t)
	allow $1_gvfsd_t session_dbusd_runtime_t:sock_file getattr;
	files_read_usr_files($1_gvfsd_t)
	files_map_usr_files($1_gvfsd_t)
	files_read_usr_files($1_gvfsd_fuse_t)
	files_map_usr_files($1_gvfsd_fuse_t)
	allow $1_gvfsd_t bin_t:dir search;
	miscfiles_read_localization($1_gvfsd_t)
	miscfiles_read_localization($1_gvfsd_fuse_t)
	xdg_search_config_dirs($1_gvfsd_t)
	xdg_search_data_dirs($1_gvfsd_t)
	xdg_search_config_dirs($1_gvfsd_fuse_t)
	xdg_search_data_dirs($1_gvfsd_fuse_t)
	userdom_search_user_runtime($1_gvfsd_t)
	userdom_search_user_runtime($1_gvfsd_fuse_t)

	allow $1_gvfsd_t self:fifo_file { getattr read write };
	allow { $1_gvfsd_t $1_gvfsd_fuse_t } $1_systemd_t:unix_stream_socket { read write };

	manage_dirs_pattern($1_gvfsd_fuse_t, gvfsd_runtime_t, gvfsd_runtime_t)
	userdom_user_runtime_filetrans($1_gvfsd_fuse_t, gvfsd_runtime_t, dir, "gvfs")
	allow $1_gvfsd_fuse_t gvfsd_runtime_t:dir mounton;

	storage_rw_fuse($1_gvfsd_fuse_t)
	mount_run($1_gvfsd_fuse_t, $4)
	mount_use_fds($1_gvfsd_fuse_t)
	mount_signal($1_gvfsd_fuse_t)
	allow mount_t $1_gvfsd_t:fd use;
	allow mount_t $1_gvfsd_t:fifo_file { read write };
	allow mount_t $1_gvfsd_fuse_t:unix_stream_socket { getattr read write };
	allow mount_t $1_systemd_t:fd use;
')
