## <summary>
##	Local Konsole terminal emulator domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the Konsole application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to Konsole.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the Konsole domain.
##	</summary>
## </param>
#
interface(`konsole_role',`
	gen_require(`
		type konsole_t, konsole_exec_t;
		role $2;
	')

	role $2 types konsole_t;
	domtrans_pattern($1, konsole_exec_t, konsole_t)

	allow $1 konsole_t:process { ptrace signal_perms };
	allow $1 konsole_t:fd use;
	ps_process_pattern($1, konsole_t)

	allow konsole_t $1:process sigchld;
')
