## <summary>
##	Local Evince domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the Evince application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to Evince.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the Evince domain.
##	</summary>
## </param>
#
interface(`evince_role',`
	gen_require(`
		type evince_t, evince_exec_t;
		role $2;
	')

	role $2 types evince_t;
	domtrans_pattern($1, evince_exec_t, evince_t)

	allow $1 evince_t:fd use;
	allow $1 evince_t:process { ptrace signal_perms };
	allow $1 evince_t:process { noatsecure rlimitinh siginh };
	ps_process_pattern($1, evince_t)

	allow evince_t $1:process sigchld;
')

########################################
## <summary>
##	Allow a domain to transition into the Evince application domain
##	without adding it to a new role (the domain's existing role already
##	has access to Evince).
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to execute and transition to Evince.
##	</summary>
## </param>
#
interface(`local_evince_domtrans',`
	gen_require(`
		type evince_t, evince_exec_t;
	')

	domtrans_pattern($1, evince_exec_t, evince_t)

	allow $1 evince_t:fd use;
	allow $1 evince_t:process { ptrace signal_perms };
	allow $1 evince_t:process { noatsecure rlimitinh siginh };
	ps_process_pattern($1, evince_t)

	allow evince_t $1:process sigchld;
')

########################################
## <summary>
##	Allow Evince to connect to the user X11/Wayland socket peer domain.
## </summary>
## <param name="xserver_domain">
##	<summary>
##	Domain owning the X11/Wayland socket peer.
##	</summary>
## </param>
#
interface(`local_evince_x11_connect',`
	gen_require(`
		type evince_t;
	')

	allow evince_t $1:unix_stream_socket connectto;
')

########################################
## <summary>
##	Allow Evince to chat with a desktop-owned D-Bus service.
## </summary>
## <param name="peer_domain">
##	<summary>
##	Domain owning the D-Bus service.
##	</summary>
## </param>
#
interface(`local_evince_dbus_chat',`
	gen_require(`
		type evince_t;
	')

	allow evince_t $1:dbus send_msg;
	allow $1 evince_t:dbus send_msg;
')

########################################
## <summary>
## Allow Evince to query gvfs for mountable locations, for a given role
## prefix.
## </summary>
## <param name="role_prefix">
## <summary>
## User role prefix that owns the gvfs domain.
## </summary>
## </param>
#
interface(`local_evince_gvfs_dbus_chat',`
	gen_require(`
		type evince_t;
	')

	local_gvfs_dbus_chat($1, evince_t)
')
