## <summary>
## Local GKrellM role template.
## </summary>

########################################
## <summary>
##	Role access for GKrellM.
## </summary>
## <param name="role_prefix">
##	<summary>
##	The prefix of the user role, for example staff or user.
##	</summary>
## </param>
## <param name="user_domain">
##	<summary>
##	User domain for the role.
##	</summary>
## </param>
## <param name="user_exec_domain">
##	<summary>
##	User exec domain for execute and transition access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
template(`gkrellm_role',`
	gen_require(`
		role $4;
		attribute $3;
		type gkrellm_exec_t;
		type gkrellm_home_t;
	')

	type $1_gkrellm_t;
	userdom_user_application_domain($1_gkrellm_t, gkrellm_exec_t)
	role $4 types $1_gkrellm_t;

	domtrans_pattern($3, gkrellm_exec_t, $1_gkrellm_t)

	allow $3 $1_gkrellm_t:process { ptrace signal_perms };
	allow $3 $1_gkrellm_t:fd use;
	ps_process_pattern($3, $1_gkrellm_t)

	allow $1_gkrellm_t $3:process sigchld;

	auth_use_nsswitch($1_gkrellm_t)
	dbus_all_session_bus_client($1_gkrellm_t)
	dbus_write_session_runtime_socket($1_gkrellm_t)
	systemd_dbus_chat_logind($1_gkrellm_t)
	files_read_usr_files($1_gkrellm_t)
	files_map_usr_files($1_gkrellm_t)
	miscfiles_read_localization($1_gkrellm_t)
	xdg_search_config_dirs($1_gkrellm_t)
	xdg_search_data_dirs($1_gkrellm_t)
	userdom_search_user_runtime($1_gkrellm_t)
	local_systemd_inherit_user_service($1, $1_gkrellm_t)

	manage_dirs_pattern($1_gkrellm_t, gkrellm_home_t, gkrellm_home_t)
	manage_files_pattern($1_gkrellm_t, gkrellm_home_t, gkrellm_home_t)
	manage_lnk_files_pattern($1_gkrellm_t, gkrellm_home_t, gkrellm_home_t)
	userdom_user_home_dir_filetrans_user_home_content($1_gkrellm_t, { dir file lnk_file }, ".gkrellm2")

	kernel_read_system_state($1_gkrellm_t)
	kernel_read_network_state($1_gkrellm_t)
	dev_read_sysfs($1_gkrellm_t)
')
