## <summary>Local policy for MPlayer session integration.</summary>

#######################################
## <summary>
##	Allow MPlayer to connect to the user X11 socket peer domain.
## </summary>
## <param name="xserver_domain">
## <summary>
##	Domain owning the X11 socket peer.
## </summary>
## </param>
#
interface(`local_mplayer_x11_connect',`
	gen_require(`
		type mplayer_t;
	')

	allow mplayer_t $1:unix_stream_socket connectto;
')

#######################################
## <summary>
##	Allow a domain to read/write MPlayer's MIT-SHM segment, e.g. the X
##	server attaching to a shared-memory image passed via XShmAttach.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`local_mplayer_shm',`
	gen_require(`
		type mplayer_t;
	')

	allow $1 mplayer_t:shm rw_shm_perms;
')

#######################################
## <summary>
##	Allow MPlayer to connect to the user PulseAudio-compatible PipeWire socket.
## </summary>
## <param name="role_prefix">
## <summary>
##	User role prefix that owns the PipeWire server domain.
## </summary>
## </param>
#
interface(`local_mplayer_pipewire_pulse_connect',`
	gen_require(`
		type mplayer_t;
	')

	local_pipewire_pulse_stream_connect(mplayer_t, $1_pipewire_t)
')

#######################################
## <summary>
##	Allow a domain to read the process state (/proc/pid) of MPlayer, e.g.
##	Xwayland reading a connecting client's cmdline for client
##	identification.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`local_mplayer_read_proc_state',`
	gen_require(`
		type mplayer_t;
	')

	allow $1 mplayer_t:dir list_dir_perms;
	read_files_pattern($1, mplayer_t, mplayer_t)
	read_lnk_files_pattern($1, mplayer_t, mplayer_t)
')
