## <summary>
##	Local Mnemosyne domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the mnemosyne application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to mnemosyne.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the mnemosyne domain.
##	</summary>
## </param>
#
interface(`mnemosyne_role',`
	gen_require(`
		type mnemosyne_t, mnemosyne_exec_t;
		role $2;
	')

	role $2 types mnemosyne_t;
	domtrans_pattern($1, mnemosyne_exec_t, mnemosyne_t)

	allow $1 mnemosyne_t:fd use;
	allow $1 mnemosyne_t:process { ptrace signal_perms };
	ps_process_pattern($1, mnemosyne_t)

	allow mnemosyne_t $1:process sigchld;
')

########################################
## <summary>
##	Wire up all of a role extra Mnemosyne grants beyond the base role
##	template: Wayland compositor connect and D-Bus chat.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the Wayland/D-Bus session resources.
##	</summary>
## </param>
#
interface(`local_mnemosyne_role',`
	# Mnemosyne is a Wayland client of the session compositor socket.
	local_mnemosyne_wayland_connect($1)
	local_mnemosyne_dbus_chat($1_t)
')

########################################
## <summary>
##	Send and receive D-Bus messages with Mnemosyne, e.g. querying the a11y
##	bus's Properties on behalf of its embedded QtWebEngine view.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to exchange D-Bus messages with Mnemosyne.
##	</summary>
## </param>
#
interface(`local_mnemosyne_dbus_chat',`
	gen_require(`
		type mnemosyne_t;
		class dbus send_msg;
	')

	allow $1 mnemosyne_t:dbus send_msg;
	allow mnemosyne_t $1:dbus send_msg;
')

########################################
## <summary>
##	Allow Mnemosyne to connect to a role's session Wayland compositor
##	socket.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the session's Wayland socket.
##	</summary>
## </param>
#
interface(`local_mnemosyne_wayland_connect',`
	gen_require(`
		type mnemosyne_t;
	')

	local_$1_wayland_connect(mnemosyne_t)
')
