## <summary>
##	Local SafeEyes domain interfaces.
## </summary>

########################################
## <summary>
##	Allow SafeEyes to use the user PipeWire audio path.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the PipeWire server domain.
##	</summary>
## </param>
#
interface(`local_safeeyes_pipewire_connect',`
	gen_require(`
		type safeeyes_t;
	')

	pipewire_stream_connect(safeeyes_t, $1_pipewire_t)
	pipewire_rw_tmpfs_files(safeeyes_t)
	pipewire_use_fds(safeeyes_t, $1_pipewire_t)
	ps_process_pattern($1_pipewire_t, safeeyes_t)
')

########################################
## <summary>
##	Allow a role to transition into the SafeEyes application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to SafeEyes.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the SafeEyes domain.
##	</summary>
## </param>
#
interface(`safeeyes_role',`
	gen_require(`
		type safeeyes_t, safeeyes_exec_t;
		role $2;
	')

	role $2 types safeeyes_t;
	domtrans_pattern($1, safeeyes_exec_t, safeeyes_t)

	allow $1 safeeyes_t:process { ptrace signal_perms };
	allow $1 safeeyes_t:fd use;
	ps_process_pattern($1, safeeyes_t)
	dontaudit $1 safeeyes_t:process getsched;

	allow safeeyes_t $1:process sigchld;
	allow safeeyes_t $1:unix_stream_socket connectto;
')

########################################
## <summary>
##	Send and receive D-Bus messages with SafeEyes.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to exchange D-Bus messages with SafeEyes.
##	</summary>
## </param>
#
interface(`local_safeeyes_dbus_chat',`
	gen_require(`
		type safeeyes_t;
	')

	allow $1 safeeyes_t:dbus send_msg;
	allow safeeyes_t $1:dbus send_msg;
')

########################################
## <summary>
##	Allow a user systemd instance to launch SafeEyes with the usual
##	inherited-exec process bits.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the user systemd domain.
##	</summary>
## </param>
#
interface(`local_safeeyes_systemd_inherit',`
	gen_require(`
		type safeeyes_t;
	')

	local_systemd_inherit_user_service($1, safeeyes_t)
	allow safeeyes_t $1_systemd_t:unix_stream_socket { getattr ioctl };
')

########################################
## <summary>
##	Allow SafeEyes to query gvfs for mountable locations, for a given role
##	prefix.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the gvfs domain.
##	</summary>
## </param>
#
interface(`local_safeeyes_gvfs_dbus_chat',`
	gen_require(`
		type safeeyes_t;
	')

	local_gvfs_dbus_chat($1, safeeyes_t)
')
