policy_module(local_qtwebengine)

attribute_role qtwebengine_roles;

type qtwebengine_t;
type qtwebengine_exec_t;
userdom_user_application_domain(qtwebengine_t, qtwebengine_exec_t)
role qtwebengine_roles types qtwebengine_t;
