policy_module(local_code)

gen_require(`
	type git_home_t;
	type git_home_hook_t;
')

type code_dir_t;
userdom_user_home_content(code_dir_t)

type code_file_t;
userdom_user_home_content(code_file_t)
