policy_module(local_thunderbird)

gen_require(`
	type etc_t;
	type mplayer_exec_t;
	type staff_pipewire_t;
	type thunderbird_tmpfs_t;
	type user_runtime_t;
	type usr_t;
	type thunderbird_t;
	type var_lib_t;
	type xdg_config_t;
	type xdg_data_t;
')

corecmd_exec_bin(thunderbird_t)
corecmd_search_bin(thunderbird_t)

dbus_write_session_runtime_socket(thunderbird_t)

pulseaudio_client_domain(thunderbird_t)
pipewire_pulse_stream_connect(thunderbird_t, staff_pipewire_t)
ps_process_pattern(staff_pipewire_t, thunderbird_t)
corenet_udp_bind_generic_node(thunderbird_t)

pcscd_read_runtime_files(thunderbird_t)
pcscd_stream_connect(thunderbird_t)

xdg_search_config_dirs(thunderbird_t)
xdg_read_config_files(thunderbird_t)
fs_search_cgroup_dirs(thunderbird_t)
fs_getattr_cgroup_files(thunderbird_t)
fs_read_cgroup_files(thunderbird_t)
dontaudit thunderbird_t xdg_cache_t:file { read write };
dontaudit thunderbird_t { etc_t usr_t var_lib_t xdg_config_t xdg_data_t }:dir watch;
dontaudit thunderbird_t mplayer_exec_t:file execute;
dontaudit thunderbird_t thunderbird_tmpfs_t:file execute;

gnome_mmap_read_xdg_config_files(thunderbird_t)
gnome_watch_xdg_config_dirs(thunderbird_t)

userdom_search_user_runtime(thunderbird_t)
userdom_map_user_tmp_files(thunderbird_t)
allow thunderbird_t user_runtime_t:dir { add_name write };
allow thunderbird_t user_runtime_t:sock_file { create unlink write };

xserver_read_xkb_libs(thunderbird_t)
xserver_rw_mesa_shader_cache(thunderbird_t)
dev_rw_dri(thunderbird_t)
dev_read_sysfs(thunderbird_t)
wm_map_tmpfs_files(thunderbird_t)

ntp_dbus_chat(thunderbird_t)

allow thunderbird_t self:cap_userns { sys_admin sys_chroot sys_ptrace };
allow thunderbird_t self:process { ptrace setcap setrlimit };
allow thunderbird_t self:user_namespace create;
