## <summary>
##	Local RSIBreak domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the RSIBreak application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to RSIBreak.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the RSIBreak domain.
##	</summary>
## </param>
#
interface(`rsibreak_role',`
	gen_require(`
		type rsibreak_t, rsibreak_exec_t;
		role $2;
	')

	role $2 types rsibreak_t;
	domtrans_pattern($1, rsibreak_exec_t, rsibreak_t)

	allow $1 rsibreak_t:process { ptrace signal_perms };
	allow $1 rsibreak_t:fd use;
	ps_process_pattern($1, rsibreak_t)

	allow rsibreak_t $1:process sigchld;
')

########################################
## <summary>
##	Allow bidirectional D-Bus method call/reply between a domain and
##	RSIBreak.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to exchange D-Bus messages with RSIBreak.
##	</summary>
## </param>
#
interface(`local_rsibreak_dbus_chat',`
	gen_require(`
		type rsibreak_t;
	')

	allow $1 rsibreak_t:dbus send_msg;
	allow rsibreak_t $1:dbus send_msg;
')

########################################
## <summary>
## Allow a user systemd instance to launch RSIBreak with the usual
## inherited-exec process bits.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the user systemd domain.
##	</summary>
## </param>
#
interface(`local_rsibreak_systemd_inherit',`
	gen_require(`
		type rsibreak_t;
	')

	local_systemd_inherit_user_service($1, rsibreak_t)
')
