policy_module(local_zotero)

attribute_role zotero_roles;

type zotero_t;
type zotero_exec_t;
userdom_user_application_domain(zotero_t, zotero_exec_t)
role zotero_roles types zotero_t;

type zotero_home_t;
userdom_user_home_content(zotero_home_t)

type zotero_xdg_cache_t;
xdg_cache_content(zotero_xdg_cache_t)

manage_dirs_pattern(zotero_t, zotero_xdg_cache_t, zotero_xdg_cache_t)
manage_files_pattern(zotero_t, zotero_xdg_cache_t, zotero_xdg_cache_t)
manage_lnk_files_pattern(zotero_t, zotero_xdg_cache_t, zotero_xdg_cache_t)
xdg_cache_filetrans(zotero_t, zotero_xdg_cache_t, dir, "zotero")

gen_require(`
	type staff_systemd_t;
	type user_runtime_t;
')

allow zotero_t staff_systemd_t:unix_stream_socket { read write };

miscfiles_read_localization(zotero_t)
sysnet_read_config(zotero_t)
files_read_etc_files(zotero_t)
gnome_mmap_read_xdg_config_files(zotero_t)
gnome_watch_xdg_config_dirs(zotero_t)
userdom_map_user_tmp_files(zotero_t)
allow zotero_t user_runtime_t:dir { remove_name };
allow zotero_t user_runtime_t:sock_file { unlink };
xserver_read_xkb_libs(zotero_t)
xserver_rw_mesa_shader_cache(zotero_t)
dev_rw_dri(zotero_t)
allow zotero_t self:process setsched;
allow zotero_t self:cap_userns sys_admin;
allow zotero_t self:user_namespace create;
