## <summary>
##	Local KDE Connect domains and helper interfaces.
## </summary>

########################################
## <summary>
##	Role access for KDE Connect.
## </summary>
## <param name="role_prefix">
##	<summary>
##	The prefix of the user role, for example staff or user.
##	</summary>
## </param>
## <param name="user_domain">
##	<summary>
##	User domain for the role.
##	</summary>
## </param>
## <param name="user_exec_domain">
##	<summary>
##	User exec domain for execute and transition access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
template(`kdeconnect_role',`
	gen_require(`
		role $4;
		attribute $3;
		type kdeconnect_exec_t, kdeconnect_port_t;
	')

	type $1_kdeconnect_t;
	userdom_user_application_domain($1_kdeconnect_t, kdeconnect_exec_t)
	role $4 types $1_kdeconnect_t;

	domtrans_pattern($3, kdeconnect_exec_t, $1_kdeconnect_t)

	allow $3 $1_kdeconnect_t:process { ptrace signal_perms };
	allow $3 $1_kdeconnect_t:fd use;
	ps_process_pattern($3, $1_kdeconnect_t)

	allow $1_kdeconnect_t $3:process sigchld;
	tunable_policy(`local_kdeconnect_use_bluetooth',`
		allow $1_kdeconnect_t self:bluetooth_socket { bind create getattr listen setopt };
	')
	tunable_policy(`local_kdeconnect_use_network',`
		allow $1_kdeconnect_t self:tcp_socket node_bind;
		allow $1_kdeconnect_t self:udp_socket node_bind;
		allow $1_kdeconnect_t kdeconnect_port_t:tcp_socket name_bind;
		allow $1_kdeconnect_t kdeconnect_port_t:udp_socket name_bind;
		corenet_udp_bind_generic_port($1_kdeconnect_t)
	')

	optional_policy(`
		systemd_user_app_status($1, $1_kdeconnect_t)
		allow $1_systemd_t $1_kdeconnect_t:process2 nnp_transition;
	')
')

########################################
## <summary>
##	Allow a domain to use KDE Connect listener sockets directly.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to bind KDE Connect sockets.
##	</summary>
## </param>
#
interface(`local_kdeconnect_bind_port',`
	gen_require(`
		type kdeconnect_port_t;
	')

	tunable_policy(`local_kdeconnect_use_bluetooth',`
		allow $1 self:bluetooth_socket { bind create getattr listen setopt };
	')
	tunable_policy(`local_kdeconnect_use_network',`
		allow $1 self:tcp_socket node_bind;
		allow $1 self:udp_socket node_bind;
		allow $1 kdeconnect_port_t:tcp_socket name_bind;
		allow $1 kdeconnect_port_t:udp_socket name_bind;
		corenet_udp_bind_generic_port($1)
	')
')
