## <summary>
##	Local KHelpCenter domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the khelpcenter application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to khelpcenter.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the khelpcenter domain.
##	</summary>
## </param>
#
interface(`khelpcenter_role',`
	gen_require(`
		type khelpcenter_t, khelpcenter_exec_t;
		role $2;
	')

	role $2 types khelpcenter_t;
	domtrans_pattern($1, khelpcenter_exec_t, khelpcenter_t)

	allow $1 khelpcenter_t:fd use;
	allow $1 khelpcenter_t:process { ptrace signal_perms };
	ps_process_pattern($1, khelpcenter_t)

	allow khelpcenter_t $1:process sigchld;
')
