## <summary>
##	Local GIMP domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the GIMP application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to GIMP.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the GIMP domain.
##	</summary>
## </param>
#
interface(`gimp_role',`
	gen_require(`
		type gimp_t, gimp_exec_t;
		role $2;
	')

	role $2 types gimp_t;
	domtrans_pattern($1, gimp_exec_t, gimp_t)

	allow $1 gimp_t:fd use;
	allow $1 gimp_t:process { ptrace signal_perms };
	ps_process_pattern($1, gimp_t)

	allow gimp_t $1:process sigchld;
')
