## <summary>
## Local Evolution helper interfaces.
## </summary>

########################################
## <summary>
## Allow a user systemd instance to launch Evolution alarm helpers with the
## usual inherited-exec process bits.
## </summary>
## <param name="role_prefix">
## <summary>
## The prefix of the user role, for example staff or user.
## </summary>
## </param>
#
interface(`local_evolution_alarm_systemd_inherit',`
	gen_require(`
		type evolution_alarm_t;
		type $1_systemd_t;
	')

	allow $1_systemd_t evolution_alarm_t:process { noatsecure rlimitinh siginh };
')
