policy_module(local_rsibreak)

attribute_role rsibreak_roles;

type rsibreak_t;
type rsibreak_exec_t;
userdom_user_application_domain(rsibreak_t, rsibreak_exec_t)
role rsibreak_roles types rsibreak_t;

type rsibreak_xdg_config_t;
xdg_config_content(rsibreak_xdg_config_t)

type rsibreak_tmpfs_t;
userdom_user_tmpfs_file(rsibreak_tmpfs_t)

auth_use_nsswitch(rsibreak_t)
dbus_all_session_bus_client(rsibreak_t)
dbus_write_session_runtime_socket(rsibreak_t)
dev_rw_dri(rsibreak_t)
systemd_dbus_chat_logind(rsibreak_t)
files_read_usr_files(rsibreak_t)
files_map_usr_files(rsibreak_t)
miscfiles_read_fonts(rsibreak_t)
miscfiles_read_localization(rsibreak_t)
xdg_search_config_dirs(rsibreak_t)
xdg_search_data_dirs(rsibreak_t)
xserver_use_user_fonts(rsibreak_t)
userdom_search_user_runtime(rsibreak_t)
local_kde_read_config_files(rsibreak_t)

allow rsibreak_t self:process signal;
allow rsibreak_t self:fifo_file rw_fifo_file_perms;

manage_files_pattern(rsibreak_t, rsibreak_xdg_config_t, rsibreak_xdg_config_t)
xdg_config_filetrans(rsibreak_t, rsibreak_xdg_config_t, file, "rsibreakrc")
xdg_config_filetrans(rsibreak_t, rsibreak_xdg_config_t, file, "rsibreak.notifyrc")

manage_files_pattern(rsibreak_t, rsibreak_tmpfs_t, rsibreak_tmpfs_t)
allow rsibreak_t rsibreak_tmpfs_t:file map;
fs_tmpfs_filetrans(rsibreak_t, rsibreak_tmpfs_t, file)
