## <summary>
##	Local D-Bus content labels and access helpers.
## </summary>

########################################
## <summary>
##	Read and watch per-user D-Bus activation service files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to read and watch the activation files.
##	</summary>
## </param>
#
interface(`dbus_read_user_activation_services',`
	gen_require(`
		type dbus_xdg_services_t;
	')

	read_files_pattern($1, dbus_xdg_services_t, dbus_xdg_services_t)
	list_dirs_pattern($1, dbus_xdg_services_t, dbus_xdg_services_t)
	read_lnk_files_pattern($1, dbus_xdg_services_t, dbus_xdg_services_t)
	allow $1 dbus_xdg_services_t:dir watch;
	allow $1 dbus_xdg_services_t:file watch;
')

########################################
## <summary>
## Allow a user systemd instance to launch the user session bus with the usual
## inherited-exec process bits.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the user systemd and D-Bus domains.
##	</summary>
## </param>
#
interface(`local_dbus_systemd_inherit',`
	gen_require(`
		type $1_dbusd_t;
	')

	local_systemd_inherit_user_service($1, $1_dbusd_t)
')
