## <summary>
## Local SafeEyes role template.
## </summary>

########################################
## <summary>
##	Allow SafeEyes to use the user PipeWire audio path.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the PipeWire server domain.
##	</summary>
## </param>
#
interface(`local_safeeyes_pipewire_connect',`
	gen_require(`
		type $1_safeeyes_t;
	')

	pipewire_stream_connect($1_safeeyes_t, $1_pipewire_t)
	pipewire_rw_tmpfs_files($1_safeeyes_t)
	pipewire_use_fds($1_safeeyes_t, $1_pipewire_t)
	ps_process_pattern($1_pipewire_t, $1_safeeyes_t)
')

## <summary>
##	Role access for SafeEyes.
## </summary>
## <param name="role_prefix">
##	<summary>
##	The prefix of the user role, for example staff or user.
##	</summary>
## </param>
## <param name="user_domain">
##	<summary>
##	User domain for the role.
##	</summary>
## </param>
## <param name="user_exec_domain">
##	<summary>
##	User exec domain for execute and transition access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
template(`safeeyes_role',`
	gen_require(`
		role $4;
		attribute $3;
		type safeeyes_exec_t;
		type safeeyes_xdg_config_t;
		type safeeyes_tmpfs_t;
		type cert_t;
		type gnome_xdg_config_t;
		type user_tmp_t;
	')

	type $1_safeeyes_t;
	userdom_user_application_domain($1_safeeyes_t, safeeyes_exec_t)
	role $4 types $1_safeeyes_t;

	domtrans_pattern($3, safeeyes_exec_t, $1_safeeyes_t)

	allow $3 $1_safeeyes_t:process { ptrace signal_perms };
	allow $3 $1_safeeyes_t:fd use;
	ps_process_pattern($3, $1_safeeyes_t)
	dontaudit $3 $1_safeeyes_t:process getsched;

	allow $1_safeeyes_t $3:process sigchld;

	auth_use_nsswitch($1_safeeyes_t)
	dbus_all_session_bus_client($1_safeeyes_t)
	dbus_write_session_runtime_socket($1_safeeyes_t)
	systemd_dbus_chat_logind($1_safeeyes_t)
	allow $1_safeeyes_t $1_systemd_t:unix_stream_socket { getattr ioctl };
	allow $1_safeeyes_t bin_t:dir { getattr open read search };
	allow $1_safeeyes_t bin_t:file { execute getattr map open read };
	allow $1_safeeyes_t bin_t:lnk_file { getattr read };
	allow $1_safeeyes_t self:unix_dgram_socket create;
	allow $1_safeeyes_t user_tmp_t:dir { getattr search };
	allow $1_safeeyes_t gnome_xdg_config_t:dir search;
	allow $1_safeeyes_t user_tmp_t:sock_file write;
	allow $1_safeeyes_t $3:unix_stream_socket connectto;
	allow $1_safeeyes_t self:process { setrlimit setsched };
	allow $1_safeeyes_t proc_t:file { getattr open read };
	allow $1_safeeyes_t security_t:filesystem getattr;
	allow $1_safeeyes_t selinux_config_t:dir search;
	allow $1_safeeyes_t sysctl_vm_t:dir search;
	allow $1_safeeyes_t sysctl_vm_overcommit_t:file { open read };
	manage_dirs_pattern($1_safeeyes_t, safeeyes_xdg_config_t, safeeyes_xdg_config_t)
	manage_files_pattern($1_safeeyes_t, safeeyes_xdg_config_t, safeeyes_xdg_config_t)
	manage_lnk_files_pattern($1_safeeyes_t, safeeyes_xdg_config_t, safeeyes_xdg_config_t)
	xdg_config_filetrans($1_safeeyes_t, safeeyes_xdg_config_t, dir, "safeeyes")
	manage_files_pattern($1_safeeyes_t, safeeyes_tmpfs_t, safeeyes_tmpfs_t)
	fs_tmpfs_filetrans($1_safeeyes_t, safeeyes_tmpfs_t, file)
	files_read_usr_files($1_safeeyes_t)
	files_map_usr_files($1_safeeyes_t)
	miscfiles_read_localization($1_safeeyes_t)
	xdg_search_config_dirs($1_safeeyes_t)
	xdg_search_data_dirs($1_safeeyes_t)
	userdom_search_user_runtime($1_safeeyes_t)
	local_systemd_inherit_user_service($1, $1_safeeyes_t)

	dontaudit $1_safeeyes_t cert_t:dir search;
	dontaudit $1_safeeyes_t tmpfs_t:file getattr;
')
