## <summary>
##	Local PipeWire domains and helper interfaces.
## </summary>

########################################
## <summary>
##	Connect to PipeWire runtime sockets.
## </summary>
## <param name="domain">
##	<summary>
##	Client domain allowed access.
##	</summary>
## </param>
## <param name="server_domain">
##	<summary>
##	PipeWire server domain owning the socket.
##	</summary>
## </param>
#
interface(`pipewire_stream_connect',`
	gen_require(`
		type pipewire_runtime_t;
	')

	stream_connect_pattern($1, user_runtime_t, pipewire_runtime_t, $2)
')

########################################
## <summary>
##	Connect to PipeWire's PulseAudio-compatible socket.
## </summary>
## <param name="domain">
##	<summary>
##	Client domain allowed access.
##	</summary>
## </param>
## <param name="server_domain">
##	<summary>
##	PipeWire server domain owning the socket.
##	</summary>
## </param>
#
interface(`pipewire_pulse_stream_connect',`
	gen_require(`
		type pulseaudio_tmp_t;
	')

	stream_connect_pattern($1, pulseaudio_tmp_t, pulseaudio_tmp_t, $2)
')

########################################
## <summary>
##	Read and write PipeWire tmpfs-backed shared files.
## </summary>
## <param name="domain">
##	<summary>
##	Client domain allowed access.
##	</summary>
## </param>
#
interface(`pipewire_rw_tmpfs_files',`
	gen_require(`
		type pipewire_tmpfs_t;
	')

	rw_files_pattern($1, pipewire_tmpfs_t, pipewire_tmpfs_t)
	allow $1 pipewire_tmpfs_t:file map;
	allow $1 pipewire_tmpfs_t:dir list_dir_perms;
')

########################################
## <summary>
##	Use file descriptors inherited from the PipeWire server domain.
## </summary>
## <param name="domain">
##	<summary>
##	Client domain allowed access.
##	</summary>
## </param>
## <param name="server_domain">
##	<summary>
##	PipeWire server domain owning the descriptors.
##	</summary>
## </param>
#
interface(`pipewire_use_fds',`
	allow $1 $2:fd use;
')

########################################
## <summary>
##	Role access for PipeWire.
## </summary>
## <param name="role_prefix">
##	<summary>
##	The prefix of the user role, for example staff or user.
##	</summary>
## </param>
## <param name="user_domain">
##	<summary>
##	User domain for the role.
##	</summary>
## </param>
## <param name="user_exec_domain">
##	<summary>
##	User exec domain for execute and transition access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
template(`pipewire_role',`
	gen_require(`
		role $4;
		attribute $3;
		type mozilla_t, pipewire_exec_t, pipewire_runtime_t, pipewire_tmpfs_t, pulseaudio_tmp_t, user_runtime_t;
	')

	type $1_pipewire_t;
	userdom_user_application_domain($1_pipewire_t, pipewire_exec_t)
	role $4 types $1_pipewire_t;

	domtrans_pattern($3, pipewire_exec_t, $1_pipewire_t)

	allow $3 $1_pipewire_t:process { ptrace signal_perms };
	allow $3 $1_pipewire_t:fd use;
	ps_process_pattern($3, $1_pipewire_t)
	ps_process_pattern($1_pipewire_t, $3)

	allow $1_pipewire_t $3:process sigchld;
	allow $1_pipewire_t self:process { getsched setrlimit setsched };
	ps_process_pattern($1_pipewire_t, $1_wireplumber_t)
	ps_process_pattern($1_pipewire_t, $2)
	ps_process_pattern($1_pipewire_t, mozilla_t)

	auth_use_nsswitch($1_pipewire_t)
	alsa_read_config($1_pipewire_t)
	miscfiles_read_localization($1_pipewire_t)
	xdg_search_config_dirs($1_pipewire_t)
	files_read_usr_files($1_pipewire_t)
	files_map_usr_files($1_pipewire_t)
	userdom_search_user_home_dirs($1_pipewire_t)
	userdom_search_user_home_content($1_pipewire_t)
	userdom_search_user_runtime($1_pipewire_t)
	userdom_rw_user_tmpfs_files($1_pipewire_t)
	userdom_map_user_tmpfs_files($1_pipewire_t)
	userdom_delete_user_tmpfs_files($1_pipewire_t)
	allow $1_pipewire_t alsa_var_lib_t:dir search;
	dbus_all_session_bus_client($1_pipewire_t)
	dbus_write_session_runtime_socket($1_pipewire_t)
	dbus_system_bus_client($1_pipewire_t)
	rtkit_scheduled($1_pipewire_t)
	dev_read_sysfs($1_pipewire_t)
	dev_read_sound($1_pipewire_t)
	dev_write_sound($1_pipewire_t)
	dev_getattr_video_dev($1_pipewire_t)
	dev_read_video_dev($1_pipewire_t)
	dev_write_video_dev($1_pipewire_t)
	logging_send_syslog_msg($1_pipewire_t)

	allow $1_pipewire_t pulseaudio_tmp_t:dir manage_dir_perms;
	allow $1_pipewire_t pulseaudio_tmp_t:file manage_file_perms;
	allow $1_pipewire_t pulseaudio_tmp_t:sock_file manage_sock_file_perms;
	userdom_user_runtime_filetrans($1_pipewire_t, pulseaudio_tmp_t, dir, "pulse")

	# The base sound-device interfaces cover read/write/map, but PipeWire also
	# needs ALSA control/sequencer ioctls on sound_device_t for normal startup.
	allow $1_pipewire_t sound_device_t:chr_file ioctl;
	allow $1_pipewire_t v4l_device_t:chr_file ioctl;

	manage_files_pattern($1_pipewire_t, pipewire_runtime_t, pipewire_runtime_t)
	manage_sock_files_pattern($1_pipewire_t, pipewire_runtime_t, pipewire_runtime_t)
	userdom_user_runtime_filetrans($1_pipewire_t, pipewire_runtime_t, file, "pipewire-0.lock")
	userdom_user_runtime_filetrans($1_pipewire_t, pipewire_runtime_t, file, "pipewire-0-manager.lock")
	userdom_user_runtime_filetrans($1_pipewire_t, pipewire_runtime_t, sock_file, "pipewire-0")
	userdom_user_runtime_filetrans($1_pipewire_t, pipewire_runtime_t, sock_file, "pipewire-0-manager")
	stream_connect_pattern($1_pipewire_t, user_runtime_t, pipewire_runtime_t, $1_pipewire_t)

	manage_dirs_pattern($1_pipewire_t, pipewire_tmpfs_t, pipewire_tmpfs_t)
	manage_files_pattern($1_pipewire_t, pipewire_tmpfs_t, pipewire_tmpfs_t)
	allow $1_pipewire_t pipewire_tmpfs_t:file map;
	fs_tmpfs_filetrans($1_pipewire_t, pipewire_tmpfs_t, { dir file })

	optional_policy(`
		systemd_user_app_status($1, $1_pipewire_t)
		systemd_user_app_socket_create($1, $1_pipewire_t, pipewire_runtime_t)
		systemd_user_app_socket_create($1, $1_pipewire_t, pulseaudio_tmp_t)
		manage_files_pattern($1_systemd_t, pipewire_runtime_t, pipewire_runtime_t)
		userdom_user_runtime_filetrans($1_systemd_t, pipewire_runtime_t, file, "pipewire-0-manager.lock")
		userdom_user_runtime_filetrans($1_systemd_t, pipewire_runtime_t, sock_file, "pipewire-0")
		userdom_user_runtime_filetrans($1_systemd_t, pipewire_runtime_t, sock_file, "pipewire-0-manager")
		allow $1_systemd_t $1_pipewire_t:process2 nnp_transition;
	')
')
