## <summary>
##	Local KeepassXC domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the KeepassXC application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to KeepassXC.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the KeepassXC domain.
##	</summary>
## </param>
#
interface(`keepassxc_role',`
	gen_require(`
		type keepassxc_t, keepassxc_exec_t;
		role $2;
	')

	role $2 types keepassxc_t;
	domtrans_pattern($1, keepassxc_exec_t, keepassxc_t)

	allow $1 keepassxc_t:process { ptrace signal_perms };
	allow $1 keepassxc_t:fd use;
	ps_process_pattern($1, keepassxc_t)

	allow keepassxc_t $1:process sigchld;
')

########################################
## <summary>
## Allow a user systemd instance to launch KeepassXC with the usual
## inherited-exec process bits.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the user systemd domain.
##	</summary>
## </param>
#
interface(`local_keepassxc_systemd_inherit',`
	gen_require(`
		type keepassxc_t;
	')

	local_systemd_inherit_user_service($1, keepassxc_t)
')
