policy_module(local_staff_wm)

gen_require(`
	type staff_pipewire_t;
	type staff_wm_t;
')

pipewire_stream_connect(staff_wm_t, staff_pipewire_t)
pipewire_rw_tmpfs_files(staff_wm_t)
local_mozilla_wm_tmpfs_map(staff_wm_t)
local_thunderbird_wm_dontaudit_tmpfs_use(staff_wm_t)

# kwin_wayland updates per-user desktop integration artifacts under ~/.local/share.
xdg_manage_data(staff_wm_t)
