## <summary>
##	Local TPM2 PKCS#11 labeling and access helpers.
## </summary>

########################################
## <summary>
##	Manage TPM2 PKCS#11 state under /etc/tpm2_pkcs11.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to manage the TPM2 PKCS#11 state.
##	</summary>
## </param>
#
interface(`local_tpm2_pkcs11_manage_etc',`
	gen_require(`
		type tpm2_pkcs11_etc_t;
	')

	manage_dirs_pattern($1, tpm2_pkcs11_etc_t, tpm2_pkcs11_etc_t)
	manage_files_pattern($1, tpm2_pkcs11_etc_t, tpm2_pkcs11_etc_t)
	read_lnk_files_pattern($1, tpm2_pkcs11_etc_t, tpm2_pkcs11_etc_t)
')

########################################
## <summary>
##	Read and update user TPM2 PKCS#11 state under ~/.tpm2_pkcs11.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`local_tpm2_pkcs11_manage_home_files',`
	gen_require(`
		type tpm2_pkcs11_home_t;
	')

	allow $1 tpm2_pkcs11_home_t:dir { getattr search };
	manage_files_pattern($1, tpm2_pkcs11_home_t, tpm2_pkcs11_home_t)
	read_lnk_files_pattern($1, tpm2_pkcs11_home_t, tpm2_pkcs11_home_t)
')
