## <summary>
##	Local DiscoverNotifier domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the DiscoverNotifier application
##	domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to DiscoverNotifier.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the DiscoverNotifier domain.
##	</summary>
## </param>
#
interface(`discover_notifier_role',`
	gen_require(`
		type discover_notifier_t, discover_notifier_exec_t;
		role $2;
	')

	role $2 types discover_notifier_t;
	domtrans_pattern($1, discover_notifier_exec_t, discover_notifier_t)

	allow $1 discover_notifier_t:process { ptrace signal_perms };
	allow $1 discover_notifier_t:fd use;
	ps_process_pattern($1, discover_notifier_t)

	allow discover_notifier_t $1:process sigchld;
')

########################################
## <summary>
## Allow a user systemd instance to launch DiscoverNotifier with the usual
## inherited-exec process bits.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the user systemd domain.
##	</summary>
## </param>
#
interface(`local_discover_notifier_systemd_inherit',`
	gen_require(`
		type discover_notifier_t;
	')

	local_systemd_inherit_user_service($1, discover_notifier_t)
	allow discover_notifier_t $1_systemd_t:unix_stream_socket { getattr ioctl };
')

########################################
## <summary>
##	Allow DiscoverNotifier to connect to a role's session X11 socket.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the session's X11 socket.
##	</summary>
## </param>
#
interface(`local_discover_notifier_x11_connect',`
	gen_require(`
		type discover_notifier_t;
	')

	local_$1_x11_connect(discover_notifier_t)
')

########################################
## <summary>
##	Allow DiscoverNotifier to connect to a role's session Wayland
##	compositor socket.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the session's Wayland socket.
##	</summary>
## </param>
#
interface(`local_discover_notifier_wayland_connect',`
	gen_require(`
		type discover_notifier_t;
	')

	local_$1_wayland_connect(discover_notifier_t)
')

########################################
## <summary>
##	Allow a domain to read DiscoverNotifier's process state (/proc/pid),
##	e.g. Xwayland reading the cmdline of a connecting X11 client for
##	_NET_WM_PID-style client identification.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`local_discover_notifier_read_proc_state',`
	gen_require(`
		type discover_notifier_t;
	')

	allow $1 discover_notifier_t:dir list_dir_perms;
	read_files_pattern($1, discover_notifier_t, discover_notifier_t)
	read_lnk_files_pattern($1, discover_notifier_t, discover_notifier_t)
')
