## <summary>
## Local PowerDevil domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the PowerDevil application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to PowerDevil.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the PowerDevil domain.
##	</summary>
## </param>
#
interface(`powerdevil_role',`
	gen_require(`
		type powerdevil_t, powerdevil_exec_t;
		role $2;
	')

	role $2 types powerdevil_t;
	domtrans_pattern($1, powerdevil_exec_t, powerdevil_t)

	allow $1 powerdevil_t:process { ptrace signal_perms };
	allow $1 powerdevil_t:fd use;
	ps_process_pattern($1, powerdevil_t)

	allow powerdevil_t $1:process sigchld;
')

########################################
## <summary>
## Allow a user systemd instance to launch PowerDevil with the usual
## inherited-exec process bits.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the user systemd domain.
##	</summary>
## </param>
#
interface(`local_powerdevil_systemd_inherit',`
	gen_require(`
		type powerdevil_t;
	')

	local_systemd_inherit_user_service($1, powerdevil_t)
	allow powerdevil_t $1_systemd_t:unix_stream_socket { getattr ioctl };
')

########################################
## <summary>
##	Send and receive D-Bus messages with PowerDevil, e.g. to inhibit
##	screen/system idle during media playback.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to exchange D-Bus messages with PowerDevil.
##	</summary>
## </param>
#
interface(`local_powerdevil_dbus_chat',`
	gen_require(`
		type powerdevil_t;
	')

	allow $1 powerdevil_t:dbus send_msg;
	allow powerdevil_t $1:dbus send_msg;
')
