## <summary>
## Local Evolution helper interfaces.
## </summary>

########################################
## <summary>
## Allow a user systemd instance to launch Evolution alarm helpers with the
## usual inherited-exec process bits.
## </summary>
## <param name="role_prefix">
## <summary>
## The prefix of the user role, for example staff or user.
## </summary>
## </param>
#
interface(`local_evolution_alarm_systemd_inherit',`
	gen_require(`
		type evolution_alarm_t;
	')

	local_systemd_inherit_user_service($1, evolution_alarm_t)
')

########################################
## <summary>
## Allow Evolution alarm helpers to integrate with the desktop session.
## </summary>
## <param name="role_prefix">
## <summary>
## The prefix of the user role, for example staff or user.
## </summary>
## </param>
#
interface(`local_evolution_alarm_desktop',`
	gen_require(`
		type evolution_alarm_t;
		type evolution_xdg_config_t;
		type gnome_xdg_config_t;
		type wm_tmpfs_t;
		type $1;
		class dir { getattr read search watch };
		class file map;
		class unix_stream_socket connectto;
	')

	allow evolution_alarm_t $1:unix_stream_socket connectto;
	allow evolution_alarm_t evolution_xdg_config_t:dir { getattr read search watch };
	allow evolution_alarm_t gnome_xdg_config_t:dir watch;
	allow evolution_alarm_t wm_tmpfs_t:file map;
	local_kde_read_config_files(evolution_alarm_t)
')

########################################
## <summary>
##	Allow Evolution alarm helpers to connect to a role's session Wayland
##	compositor socket.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the session's Wayland socket.
##	</summary>
## </param>
#
interface(`local_evolution_alarm_wayland_connect',`
	gen_require(`
		type evolution_alarm_t;
	')

	local_$1_wayland_connect(evolution_alarm_t)
')

########################################
## <summary>
##	Allow a domain to read Evolution alarm's process state (/proc/pid),
##	e.g. Xwayland reading the cmdline of a connecting X11 client for
##	_NET_WM_PID-style client identification.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`local_evolution_alarm_read_proc_state',`
	gen_require(`
		type evolution_alarm_t;
	')

	allow $1 evolution_alarm_t:dir list_dir_perms;
	read_files_pattern($1, evolution_alarm_t, evolution_alarm_t)
	read_lnk_files_pattern($1, evolution_alarm_t, evolution_alarm_t)
')
