## <summary>
##	Local Mnemosyne domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the mnemosyne application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to mnemosyne.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the mnemosyne domain.
##	</summary>
## </param>
#
interface(`mnemosyne_role',`
	gen_require(`
		type mnemosyne_t, mnemosyne_exec_t;
		role $2;
	')

	role $2 types mnemosyne_t;
	domtrans_pattern($1, mnemosyne_exec_t, mnemosyne_t)

	allow $1 mnemosyne_t:fd use;
	allow $1 mnemosyne_t:process { ptrace signal_perms };
	ps_process_pattern($1, mnemosyne_t)

	allow mnemosyne_t $1:process sigchld;
')
