## <summary>
##	Local KDE Connect domain interfaces.
## </summary>

########################################
## <summary>
##	Allow a role to transition into the KDE Connect application domain.
## </summary>
## <param name="source_domain">
##	<summary>
##	Domain allowed to execute and transition to KDE Connect.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access to the KDE Connect domain.
##	</summary>
## </param>
#
interface(`kdeconnect_role',`
	gen_require(`
		type kdeconnect_t, kdeconnect_exec_t;
		role $2;
	')

	role $2 types kdeconnect_t;
	domtrans_pattern($1, kdeconnect_exec_t, kdeconnect_t)

	allow $1 kdeconnect_t:process { ptrace signal_perms };
	allow $1 kdeconnect_t:fd use;
	ps_process_pattern($1, kdeconnect_t)

	allow kdeconnect_t $1:process sigchld;
')

########################################
## <summary>
##	Allow a user systemd instance to monitor and launch KDE Connect.
## </summary>
## <param name="role_prefix">
##	<summary>
##	User role prefix that owns the user systemd domain.
##	</summary>
## </param>
#
interface(`local_kdeconnect_systemd_inherit',`
	gen_require(`
		type kdeconnect_t;
	')

	optional_policy(`
		systemd_user_app_status($1, kdeconnect_t)
		allow $1_systemd_t kdeconnect_t:process2 nnp_transition;
	')
')

########################################
## <summary>
##	Allow a domain to use KDE Connect listener sockets directly.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to bind KDE Connect sockets.
##	</summary>
## </param>
#
interface(`local_kdeconnect_bind_port',`
	gen_require(`
		type kdeconnect_port_t, port_t;
	')

	tunable_policy(`local_kdeconnect_use_bluetooth',`
		allow $1 self:bluetooth_socket { bind create getattr listen setopt };
	',`
		dontaudit $1 self:bluetooth_socket { bind create getattr listen setopt };
	')
	tunable_policy(`local_kdeconnect_use_network',`
		allow $1 self:tcp_socket node_bind;
		allow $1 self:udp_socket node_bind;
		allow $1 kdeconnect_port_t:tcp_socket name_bind;
		allow $1 kdeconnect_port_t:udp_socket name_bind;
		corenet_udp_bind_generic_port($1)
	',`
		dontaudit $1 self:tcp_socket node_bind;
		dontaudit $1 self:udp_socket node_bind;
		dontaudit $1 kdeconnect_port_t:tcp_socket name_bind;
		dontaudit $1 kdeconnect_port_t:udp_socket name_bind;
		dontaudit $1 port_t:udp_socket name_bind;
	')
')
